# Binaries
migrate_tool
app
*.exe
*.so
*.dll

# Node modules
node_modules/
pnpm-lock.yaml

# Log files
*.log

# Environment and secrets
.env

# OS files
.DS_Store

# Cache directories
audio_cache/
.cache/

# DB files
*.db